altgraph==0.17
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cryptography==3.4.6
easyFileShare==0.22
easyOpenWeather==0.3
idna==2.10
numpy==1.20.2
onetimepad==1.4
pandas==1.2.3
pycparser==2.20
pyftpdlib==1.5.6
pyinstaller==4.2
pyinstaller-hooks-contrib==2020.11
pyperclip==1.8.2
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
six==1.15.0
speedtest-cli==2.1.2
stdiomask==0.0.6
tabulate==0.8.7
tksheet==5.0.19
urllib3==1.26.3
